<div class="body">
    
    <div class="container wrapper mt-4">
        <div class="row row-cols-1 row-cols-md-2 justify-content-center align-content-center">
            <div class="col mb-4 card-col">
                <div class="card">
                    <img src="./assets/images/ahorcado.png" class="card-img-top" alt="...">
                    <div class="card-body w-100">
                      <h5 class="card-title">Ahorcado</h5>
                      <p class="card-text">En este juego tendrás que seleccionar letra por letra hasta adivinar la palabra oculta.</p>
                      <a class="btn btn-primary" routerLink="/juegos/ahorcado">Jugar</a>
                    </div>
                  </div>
            </div>
            <div class="col mb-4 card-col">
                <div class="card">
                    <img src="./assets/images/preguntados.png" class="card-img-top" alt="...">
                    <div class="card-body w-100">
                      <h5 class="card-title">Preguntados</h5>
                      <p class="card-text">Juego donde tendras que responder con la respuesta correcta.</p>
                      <a class="btn btn-primary" routerLink="/juegos/preguntados">Jugar</a>
                    </div>
                  </div>
            </div>
            <div class="col mb-4 card-col">
                <div class="card">
                    <img src="./assets/images/reflejos.png" class="card-img-top" alt="...">
                    <div class="card-body w-100">
                      <h5 class="card-title">Reflejos</h5>
                      <p class="card-text">Juego para poner a prueba tus reflejos.</p>
                      <a class="btn btn-primary" routerLink="/juegos/reflejos">Jugar</a>
                    </div>
                  </div>
            </div>
            <div class="col mb-4 card-col">
                <div class="card">
                    <img src="./assets/images/mayormenor.png" class="card-img-top" alt="...">
                    <div class="card-body w-100">
                      <h5 class="card-title">Mayor o Menor</h5>
                      <p class="card-text">Juego en donde tendrás que adivinar si la carta siguiente es mayor o menor.</p>
                      <a class="btn btn-primary" routerLink="/juegos/mayormenor">Jugar</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
