<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" *ngIf="usuarioLogueado">{{usuarioLogueado.email}}</a>
    <a class="navbar-brand" routerLink="home">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a *ngIf="!usuarioLogueado" class="nav-link active" routerLink="login">Iniciar sesion</a>
        <a *ngIf="!usuarioLogueado" class="nav-link" routerLink="registro">Registro</a>
        <a class="nav-link" routerLink="quiensoy">Quien Soy</a>
        <a class="nav-link" routerLink="/juegos">Menu de Juegos</a>
        <a *ngIf="usuarioLogueado" class="nav-link" routerLink="/chat">Chat</a>
        <a *ngIf="usuarioLogueado" class="nav-link" routerLink="/encuesta">Encuesta</a>
        <a *ngIf="usuarioLogueado" class="nav-link" routerLink="/juegos/resultados">Resultados</a>                           
        <a *ngIf="usuarioLogueado" class="nav-link" (click)="cerrarSesion()" style="cursor: pointer;">Cerrar Sesion</a>
      </div>
    </div>
</nav>
                    