.body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #23252C;
    color: white ;
    height: 100vh;
    overflow: hidden !important;
}
.modal{
    color: black;
}
.acierto{
    color: green;
}
.error{
    color: red;
}
.mostrar{
    display: block;
}
.oculto{
    display: none;
}